.clan_members_chart {
	width: 100%;
	height: 500px;
	max-width: 100%;
}

#clanstat_table {
	font-size: .8em;
}

.column-title {
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

.column-icon {
	width: 25px;
}

.column-icon-mod {
	position: absolute;
	z-index: 1;
	top: 1px;
	left: 1px;
	width: 13px;
}

.column-title .badge {
	font-size: 6px;
	position: absolute;
	bottom: 0;
	left: 0;
}

div#clanstat_chest_bar {
	position: relative;
	background: none;
}

.chest-ghost-bar {
	position: absolute;
	z-index: -1;
	opacity: 0.2;
	top: 0;
	bottom: 0;
}

.chest-bg-1 {
	background-color: gray;
}

.chest-bg-2 {
	background-color: #8dc6c5;
}

.chest-bg-3 {
	background-color: #ff7d7d;
}

.chest-bg-4 {
	background-color: #ccd265;
}

.chest-bg-5 {
	background-color: #5454c3;
}

.chest-bg-6 {
	background-color: #6ad09c;
}

.chest-bg-7 {
	background-color: #4fc05d;
}

.chest-bg-8 {
	background-color: #2b930f;
}

table .ma-card {
	width: 24px;
	margin: 1px;
}

.card-summons-count span {
	text-align: right;
	position: absolute;
	left: 6px;
	top: 20px;
	font-size: 10px;
	color: white;
	text-shadow: 1px 1px 2px black;
}

.card-summons-count {
	position: relative;
}

.ma-deck {
	width: max-content;
	margin: 0 auto;
}

.ma-icon {
	width: 24px;
}

.ma-battle-summory .ma-icon {
	width: 24px;
}

table.dataTable>tbody>tr.child ul.dtr-details {
	display: block;
}

.ma-battle-summory {
	width: 100%;
}

.text-end .ma-deck {
	margin-right: 0;
	margin-left: auto;
}

.text-start .ma-deck {
    margin-right: auto;
    margin-left: 0;
}

.ma-clan-icon {
    position: relative;
    min-width: 25px;
    min-height: 25px;
    width: auto;
    display: inline-block;
}

.ma-clan-icon img {
    position: absolute;
    width: 100%;
}

img.ma-clan-icon-icon {
    z-index: 1;
    width: 60%;
    top: 30%;
    left: 20%;
}


.ma-arena-gladiator{
	background-image: url('https://mybulletecho.ru/ma/img/battlefield/GladiatorsArenacr.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.ma-battlefield{
	display: block;
	position: relative;
	margin: 0 auto;
}

.ma-unit{
	position: absolute;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	background-color: white;
	border-radius: 6px;
	background-size: contain;
	background-repeat: no-repeat;
}